# Server Configuration
PORT=3000
BASE_URL=http://localhost:3000

# JWT Configuration (RS256 Public Key File Path)
JWT_PUBLIC_KEY_PATH=/path/to/your/public-key.pem


NODE_ENV = "development"

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=3000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=excalidraw

# File Storage Configuration
UPLOAD_DIR=./uploads

# Production Example:
# BASE_URL=https://your-domain.com/file-service
# JWT_PUBLIC_KEY_PATH=/etc/ssl/certs/jwt-public-key.pem
# MINIO_ENDPOINT=minio.your-domain.com
# MINIO_PORT=443
# MINIO_USE_SSL=true
# MINIO_ACCESS_KEY=your-production-access-key
# MINIO_SECRET_KEY=your-production-secret-key
# MINIO_BUCKET=excalidraw-prod
# UPLOAD_DIR=/var/www/jitsi-meet-file-sharing-service/uploads